@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; //1 rem
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding: 0 15px;
}

.top {
  height: 24rem;
  background: linear-gradient(
    0deg,
    #daeaf7 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );

  .top__box {
    height: inherit;
    padding: 0 1rem;
  }

  .header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  #switcher {
    display: none;
  }

  .menu {
    list-style-type: none;
    display: flex;
  }

  &__link {
    padding: 0.5rem 1.7rem;
    background: #5a98d0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transition: background 0.2s;
    &:hover {
      background: #376288;
    }
  }

  &__h1 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.04em;
    color: #1f3f68;
    max-width: 320px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 18rem;
    justify-content: space-around;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1f3f68;
    text-align: center;
  }
}

.proposal {
  padding-top: 2rem;
  .proposal__box {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: 300;
  }
  &__item {
    margin-top: 32px;
    width: 275px;
    min-height: 406px;
    background: #ffffff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 21px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__img {
    height: 170px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
  }
  &__h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    text-align: left;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #94a5ba;
  }
  &__footer {
    display: flex;
    align-self: flex-start;
  }
  &__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5a98d0;
    text-align: left;
    transition: color 0.2s;
    &::after {
      content: "\f30b";
      font-family: "FontAwesome";
      margin-left: 15px;
    }
    &:hover {
      color: #244772;
    }
  }
}

.project {
  padding: 4rem 0;
  .project__box {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__h1 {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }
  &__text {
    margin-top: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
  }
  &__items {
    margin-top: 64px;
    height: 700px;
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding: 16px;
    + .project__item {
      margin-top: 32px;
    }
  }
  &__h2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  &__item:nth-child(1) {
    width: 343px;
    height: 144.42px;
    background: url("../img/Mask_1.jpg");
    background-size: cover;
    border-radius: 10px;
    text-align: right;
  }
  &__item:nth-child(2) {
    width: 343px;
    height: 255px;
    background: url("../img/Mask_2.jpg");
    background-size: cover;
    border-radius: 10px;
    text-align: left;
  }
  &__item:nth-child(3) {
    width: 343px;
    height: 262px;
    background: url("../img/Mask_3.jpg");
    background-size: cover;
    border-radius: 10px;
    text-align: left;
  }
}

.footer {
  background-color: #316099;
  padding: 0;
  .footer__top {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
    &-h2 {
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
    }
    &-text {
      margin-top: 32px;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #ffffff8a;
    }
    &-link {
      margin-top: 40px;
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.04em;
      color: #ffffff;
      background: #5a98d0;
      padding: 5px 15px;
    }
  }
  .footer__menu {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    counter-reset: list;
    ul {
      list-style: none;
    }
    li {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;
      color: #ffffff;
      + li {
        margin-top: 17px;
      }
      &::before {
        counter-increment: list;
        content: " " counter(list) ".";
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        margin-right: 15px;
      }
    }
  }
  &__copy {
    height: 52px;
    &-text {
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #ffffff7d;
    }
  }
}

@media (min-width: 575.98px) {
  .center {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  html {
    font-size: 32px;
  }
  .center {
    padding: 0 calc(50vw - 360px);
  }

  .top__box {
    background: url("../img/illustration.svg") no-repeat;
    background-position: 90% 80%;
    background-size: 44%;
  }

  .top {
    &__content {
      align-items: flex-start;
      min-height: 18rem;
      justify-content: space-around;
    }
    &__h1 {
      text-align: left;
      max-width: 510px;
    }
    &__text {
      text-align: left;
      width: 417px;
    }
  }
  .project {
    &__items {
      width: 702px;
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      &:nth-child(1) {
        width: 100%;
        height: 296.68px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: 43%;
        height: 224px;
      }
    }
  }
}

@media (min-width: 991.98px) {
  .center {
    padding: 0 3.5rem;
  }
  .top__box {
    background-position: 87% 60%;
    background-size: 45%;
  }

  .open-switcher,
  .close-switcher {
    display: none;
  }

  .top .top__box {
    padding: 0 3.5rem;
  }

  .menu__item {
    padding: 16px;
    .menu__link {
      color: #316099;
      font-size: 20px;
    }
  }
  .proposal {
    &__items {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }

  .project {
    &__items {
      width: 950px;
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__item {
      &:nth-child(1) {
        width: 100%;
        height: 369px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: 45%;
        height: 314px;
      }
    }
  }
}

@media (min-width: 1199.98px) {
  .center {
    padding: 0 3.5rem;
  }
  .project {
    .project__box {
      padding: 0 100px;
    }
    &__items {
      width: 1140px;
    }
    &__item {
      &:nth-child(1) {
        width: 100%;
        height: 448px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: 45%;
        height: 386px;
      }
    }
  }
}

@media (max-width: 991px) {
  nav {
    top: -100%;
    right: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition-duration: 0.5s;
    background: #316099;
  }

  .open-switcher {
    color: #316099;
    font-size: 32px;
  }
  .close-switcher {
    font-size: 32px;

    position: absolute;
    right: 25px;
    top: 16px;
    color: #fff;
  }

  .menu {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: inherit;

    &__link {
      color: #fff;
      display: block;
      padding: 32px;
      text-transform: uppercase;
    }
  }

  #switcher:checked ~ nav {
    top: 0;
    right: 0;
  }
}
